In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv(r'C:\Users\saswa\saswata\INTERMEDIATE_NLP_COURSE\TextFiles\moviereviews.tsv', sep= '\t')

In [4]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [5]:
df.columns

Index(['label', 'review'], dtype='object')

In [6]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [7]:
df.shape

(2000, 2)

In [8]:
df['label'].unique()

array(['neg', 'pos'], dtype=object)

In [12]:
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [14]:
#Now dropping null texts is not enough. We also have to drop those rows which have empty whitespace ' '
ind_blank= []
for ind, label_text, review_text in df.itertuples():
    if review_text.isspace():
        ind_blank.append(ind)

In [15]:
print(ind_blank)

[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [16]:
df.drop(ind_blank, inplace= True)

In [27]:
from sklearn.model_selection import train_test_split
x= df['review']
y= df['label']

In [31]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.25, random_state=42)

In [33]:
#Here we will be developing a pipeline which will do the tf-idf vectorization and classification
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [34]:
rev_clff= Pipeline([('tfidf', TfidfVectorizer()), ('svc', LinearSVC())])

In [35]:
rev_clff.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('svc', LinearSVC())])

In [36]:
y_predic= rev_clff.predict(x_test)

In [37]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [39]:
c_m= confusion_matrix(y_test, y_predic)
print(c_m)

[[197  36]
 [ 37 215]]

In [40]:
print(accuracy_score(y_test, y_predic))

0.8494845360824742